@font-face {
    font-family: 'StratosSkyeng';
    src: local("StratosSkyeng"), local("StratosSkyeng"), url("../../../fonts/Stratos-Regular.woff2") format("woff2"), url("../../../fonts/Stratos-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

.main__nav {
    width: 244px;
    background-color: #181818;
    padding: 20px 0 20px 36px;
  }
  .nav__logo {
    width: 113.33px;
    height: 43px;
    padding: 13px 0 13px 0;
    background-color: transparent;
    margin-bottom: 20px;
  }
  
  .logo__image {
    width: 113.33px;
    height: 17px;
    color: #181818;
  }
  
  