@font-face {
    font-family: 'Stratos';
    src: url('../../fonts/Stratos-Regular.woff2') format('woff2'),
        url('../../fonts/Stratos-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --text-color: #FFFFFF;
    --background-color:  #181818;
  }
  
  [data-theme="light"] {
    --text-color:  #000000;
    --background-color: #FFFFFF;
  }
  

.nav__menu {
    display: block;
    visibility: visible;
    position: absolute;
    color: var(--text-color);
}

.menu__list {
    padding: 18px 0 10px 0;
}
  
.menu__item {
    padding: 5px 0;
    margin-bottom: 16px;
}


.menu__link {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}