@font-face {
    font-family: 'Stratos';
    src: url('../../../../fonts/Stratos-Regular.woff2') format('woff2'),
        url('../../../../fonts/Stratos-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --text-color: #FFFFFF;
  --background-color:  #181818;
  --item-hover: #B672FF;
}

[data-theme="light"] {
  --text-color:  #181818;
  --background-color: #bbb6b6;
  --item-hover: #580EA2;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    padding: 8px 12px;
}
   
li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

.searchDiv{
    margin-right: 10px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 34px;
    gap: 10px;

    position: absolute;
    width: 248px;
    height: 305px;
    left: 386px;
    top: 288px;

    background: var(--background-color);
    border-radius: 12px;
}

.dropdown_2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 34px;
    gap: 14px;
    justify-content: space-between;

    position: absolute;
    width: 403px;
    height: 92px;

    background: var(--background-color);
    border-radius: 12px;
}

.dropdown_2_item {
    display: flex;
    gap: 14px;
}

.dropdown_3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 34px;
    gap: 10px;

    position: absolute;
    width: 248px;
    height: 305px;
    left: 700px;
    top: 288px;

    background: var(--background-color);
    border-radius: 12px;
}

.dropdownMenu {
    width: 176px;
    height: 237px;
    overflow-y: scroll;
}

.dropdownMenu::-webkit-scrollbar {
    width: 4px;
    height: 237px;
    right: 76px;
}

.dropdownMenu::-webkit-scrollbar-track {
    background: var(--background-color);
}

.dropdownMenu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--text-color);
}

.item:hover {
    text-decoration-line: underline;    
    color: var(--item-hover);
}

.item:active {
    text-decoration-line: underline;    
    color: var(--item-hover);
}

button,
._btn {
  cursor: pointer;
}

._btn_text:hover {
    border-color: var(--item-hover);
    color: var(--item-hover);

    cursor: pointer;
}
._btn_text:active {
    border-color: #AD61FF;
    color: #AD61FF;
    cursor: pointer;
}

.filter__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
  }
  
  .filter__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid var(--text-color);
    border-radius: 60px;
    padding: 6px 20px;
    margin-left: 5px;
  }
  
  .filter__button:not(:last-child) {
    margin-right: 5px;
  }