@font-face {
    font-family: 'Stratos';
    src: url('../../../../fonts/Stratos-Regular.woff2') format('woff2'),
        url('../../../../fonts/Stratos-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --text-color: #FFFFFF;
  --background-color:  #181818;
}

[data-theme="light"] {
  --text-color:  #181818;
  --background-color: #FFFFFF;
}

.centerblock__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 51px;
}

.filter__title {
    font-family: 'Stratos';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.001em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--text-color);
}