@font-face {
    font-family: 'Stratos';
    src: url('../../../fonts/Stratos-Regular.woff2') format('woff2'),
        url('../../../fonts/Stratos-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.player__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 27px 0 31px;
}


.player__btn_prev {
  margin-right: 23px;
  cursor: pointer;
}


.player__btn_play {
  margin-right: 23px;
}


.player__btn_next {
  margin-right: 28px;
  fill: #a53939;
  cursor: pointer;
}


.player__btn_repeat {
  margin-right: 24px;
}

.player__btn_pause {
  margin-right: 23px
}


.player__btn_shuffle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
._btn {
  cursor: pointer;
}


._btn_icon:hover svg {
  fill: transparent;
  stroke: #ACACAC;
  cursor: pointer;
}

._btn_icon:active svg {
  fill: transparent;
  stroke: #FFFFFF;
  cursor: pointer;
}

._btn_icon:active .track-play__like-svg,
._btn_icon:active .track-play__dislike-svg {
  fill: #696969;
  stroke: #FFFFFF;
  cursor: pointer;
}
