@font-face {
    font-family: 'Stratos';
    src: url('../../../fonts/Stratos-Regular.woff2') format('woff2'),
        url('../../../fonts/Stratos-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.volume__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.volume__image {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volume__progress {
  width: 109px;
}

.volume__progress_line {
  width: 109px;
}

button,
._btn {
  cursor: pointer;
}
